<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cmt.cmt_eyes.repository.UserRepository">
    <insert id="createUser">
        INSERT INTO user
            (user_id, applicant, user_sort_id, user_name, email, company, department, position, contact, note, representative, reporting_date)
        VALUES
            (#{userId}, #{applicant}, #{userSortId}, #{userName}, #{email}, #{company}, #{department}, #{position}, #{contact}, #{note}, #{representative}, now())
    </insert>
    <select id="allUser" resultType="UserDto">
        SELECT *
        FROM user
    </select>
    <select id="loginUser" resultType="UserDto">
        SELECT *
        FROM user
        WHERE user_id = #{userId} AND approval is not null
    </select>
    <select id="selUser" resultType="UserDto">
        SELECT *
        FROM user
        WHERE user_id = #{userId}
    </select>
    <select id="selUserList" resultType="UserDto">
        SELECT *
        FROM user
        <if test="userSortId != null or company != null">
        WHERE
            <if test="userSortId != null and userSortId != ''">
                user_sort_id = #{userSortId}
            </if>
            <if test="company != null and company != ''">
                AND company = #{company}
            </if>
        </if>
        ORDER BY reporting_date DESC
        LIMIT #{startIdx}, #{limit}
    </select>
    <select id="countPage" resultType="PageDto">
        SELECT CEIL(COUNT(user_id)/#{limit}) AS count
        FROM user
        <if test="userSortId != null or company != null">
            WHERE
            <if test="userSortId != null and userSortId != ''">
                user_sort_id = #{userSortId}
            </if>
            <if test="company != null and company != ''">
                AND company = #{company}
            </if>
        </if>
    </select>
    <select id="selCompanyList" resultType="UserDto">
        SELECT user_name , user_id
        FROM user
        WHERE user_sort_id = 2
    </select>
    <update id="approvalUser">
        UPDATE user
        SET approval = now()
        WHERE user_id = #{userId}
    </update>
    <update id="updatePw">
        UPDATE user
        SET
            <if test="pwReseted != null">
                pw_reseted = #{pwReseted},
            </if>
            user_pw = #{userPw},
            change_date = now()
        WHERE user_id = #{userId} AND approval is not null
    </update>
</mapper>