<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>changePw</title>
</head>
<body>
    <form th:action="@{edit}" method="post" th:object="${userEntity}" onsubmit="return pwChk()">
        <input type="password" th:field="*{userPw}" placeholder="이전 비밀번호" required>
        <input type="password" th:field="*{userPw}" placeholder="새 비밀번호" required>
        <input type="password" name="pwChk" placeholder="새 비밀번호 확인" required>
        <input type="submit" value="수정">
    </form>
</body>
</html>