<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{layout :: layout(~{::title}, ~{::main},~{::link}, ~{::script})}"
>
<head>
    <meta charset="UTF-8">
    <title>상세</title>
    <link rel="stylesheet" href="/css/detail.css">
    <script sec:authorize="hasRole('1')" defer src="/js/detail.js" type="text/javascript" charset="utf-8"></script>
</head>
<main>
    <section>
        <div>
            <table>
                <thead>
                    <th>기본정보</th>
                </thead>
                <tbody>
                    <tr>
                        <th>ID</th>
                        <td class="userId" th:text="${userDto.userId}"></td>
                    </tr>
                    <tr>
                        <th>회사명</th>
                        <td th:text="${userDto.company}"></td>
                    </tr>
                    <tr>
                        <th>이름</th>
                        <td th:text="${userDto.userName}"></td>
                    </tr>
                    <tr>
                        <th>e-mail</th>
                        <td th:text="${userDto.email}"></td>
                    </tr>
                    <tr sec:authorize="hasRole('1')">
                        <th>비밀번호</th>
                        <td><button class="reset_pw_button" th:if="${userDto.approval != null}">비밀번호 초기화</button></td>
                    </tr>
                </tbody>
            </table>

            <table sec:authorize="hasAnyRole('1','4')" th:if="${userDto.userSortId==2}">
                <thead>
                    <th>고객사 정보</th>
                </thead>
                <tbody>
                    <tr>
                        <th>대표자</th>
                        <td class="userId" th:text="${userDto.representative}"></td>
                    </tr>
                    <tr>
                        <th>연락처</th>
                        <td th:text="${userDto.contact}"></td>
                    </tr>
                    <tr>
                        <th>비고</th>
                        <td th:text="${userDto.note}"></td>
                    </tr>
                </tbody>
            </table>

            <table sec:authorize="hasAnyRole('1','4')" th:if="${userDto.userSortId==3}">
                <thead>
                    <th>고객 정보</th>
                </thead>
                <tbody>
                    <tr>
                        <th>소속회사</th>
                        <td class="userId" th:text="${userDto.company}"></td>
                    </tr>
                    <tr>
                        <th>부서</th>
                        <td th:text="${userDto.department}"></td>
                    </tr>
                    <tr>
                        <th>연락처</th>
                        <td th:text="${userDto.contact}"></td>
                    </tr>
                    <tr>
                        <th>비고</th>
                        <td th:text="${userDto.note}"></td>
                    </tr>
                </tbody>
            </table>
            <table sec:authorize="hasAnyRole('1','4')" th:if="${userDto.userSortId==4}">
                <thead>
                <th>직원 정보</th>
                </thead>
                <tbody>
                    <tr>
                        <th>부서</th>
                        <td class="userId" th:text="${userDto.department}"></td>
                    </tr>
                    <tr>
                        <th>직급</th>
                        <td th:text="${userDto.position}"></td>
                    </tr>
                    <tr>
                        <th>연락처</th>
                        <td th:text="${userDto.contact}"></td>
                    </tr>
                    <tr>
                        <th>비고</th>
                        <td th:text="${userDto.note}"></td>
                    </tr>
                </tbody>
            </table>
            <table sec:authorize="hasAnyRole('2','3')" th:if="${userDto.userSortId==3}">
                <thead>
<!--                맞춰주기//////-->
                <th>직원 정보</th>
                </thead>
                <tbody>
                <tr>
                    <th>부서</th>
                    <td class="userId" th:text="${userDto.department}"></td>
                </tr>
                <tr>
                    <th>직급</th>
                    <td th:text="${userDto.position}"></td>
                </tr>
                <tr>
                    <th>연락처</th>
                    <td th:text="${userDto.contact}"></td>
                </tr>
                <tr>
                    <th>비고</th>
                    <td th:text="${userDto.note}"></td>
                </tr>
                </tbody>
            </table>
<!--            th:href="@{}" 쓰기 ////////-->
            <a href="/user/management">목록</a>
        </div>
    </section>
</main>
</html>