<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{layout :: layout(~{::title}, ~{::main},~{::link}, ~{::script})}"
>
<head>
    <meta charset="UTF-8">
    <title>계정관리</title>
    <link rel="stylesheet" href="/css/management.css">
    <script defer src="/js/management.js" type="text/javascript" charset="utf-8"></script>
    <script sec:authorize="hasRole('1')" defer src="/js/managementAdmin.js" type="text/javascript" charset="utf-8"></script>
    <script sec:authorize="hasRole('2')" defer src="/js/managementCompany.js" type="text/javascript" charset="utf-8"></script>
</head>
<main>
    <section>
        <div class="table">
        <span class="company_info"
                  sec:authorize="hasRole('2')"
                  th:with="auth=${#authentication.getPrincipal().getUser()}"
                  th:data-user-name="${auth.userName}"
        ></span>
        <br>
        <div sec:authorize="hasAnyRole('1','4')" class="filters">
            <ul class="radios">
                <li><input th:attr="onclick=|moveToUserSortIdPage('all')|" type="radio" name="userSort">전체</li>
                <li><input th:attr="onclick=|moveToUserSortIdPage('2')|" type="radio" name="userSort" value="2">고객사</li>
                <li><input th:attr="onclick=|moveToUserSortIdPage('3')|" type="radio" name="userSort" value="3">고객</li>
                <li><input th:attr="onclick=|moveToUserSortIdPage('4')|" type="radio" name="userSort" value="4">직원</li>
            </ul>
            <span>고객사 : </span>
            <select class="company_select" onchange="changeSelect(this)">
                <option selected value="">전체</option>
                <option th:each="company : ${companys}" th:text="${company.userName}" th:value="${company.userName}"></option>
            </select>
        </div>
        <table sec:authorize="hasAnyRole('1','4')" class="user_table">
            <thead>
                <tr>
                    <th>이름</th>
                    <th>ID</th>
                    <th th:if="${param.userSortId != null and param.userSortId[0]=='2'}">대표자</th>
                    <th th:if="${param.userSortId != null and param.userSortId[0]=='3'}">소속회사</th>
                    <th th:if="${param.userSortId != null and param.userSortId[0]=='4'}">부서</th>
                    <th>이메일</th>
                    <th>승인여부</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}" >
                    <td th:text="${user.userName}" th:attr="onclick=|location.href='/user?userId=${user.userId}'|"></td>
                    <td th:text="${user.userId}" th:attr="onclick=|location.href='/user?userId=${user.userId}'|"></td>
                    <td th:if="${param.userSortId != null and param.userSortId[0]=='2'}" th:text="${user.representative}" th:attr="onclick=|location.href='/user?userId=${user.userId}'|"></td>
                    <td th:if="${param.userSortId != null and param.userSortId[0]=='3'}" th:text="${user.company}" th:attr="onclick=|location.href='/user?userId=${user.userId}'|"></td>
                    <td th:if="${param.userSortId != null and param.userSortId[0]=='4'}" th:text="${user.department}" th:attr="onclick=|location.href='/user?userId=${user.userId}'|"></td>
                    <td th:text="${user.email}" th:attr="onclick=|location.href='/user?userId=${user.userId}'|"></td>
                    <td th:if="${user.approval == null}" sec:authorize="hasRole('1')"><a th:attr="onclick=|approvalUserAjax('${user.userId}',this)|" class="approval_button">승인하기</a></td>
                    <td th:if="${user.approval == null}" sec:authorize="hasRole('4')" th:attr="onclick=|location.href='/user?userId=${user.userId}'|" >미승인</td>
                    <td th:if="${user.approval != null}" th:attr="onclick=|location.href='/user?userId=${user.userId}'|">승인</td>
                </tr>
            </tbody>
        </table>
        <table sec:authorize="hasAnyRole('2','3')" class="user_table">
            <thead>
            <tr>
                <th>이름</th>
                <th>ID</th>
                <th>부서</th>
                <th>이메일</th>
                <th>승인여부</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}" th:attr="onclick=|location.href='/user?userId=${user.userId}'|">
                <td th:text="${user.userName}"></td>
                <td th:text="${user.userId}"></td>
                <td th:text="${user.department}"></td>
                <td th:text="${user.email}"></td>
                <td th:if="${user.approval == null}" class="approval_button_td">미승인</td>
                <td th:if="${user.approval != null}">승인</td>
            </tr>
            </tbody>
        </table>
        <th:block sec:authorize="hasAnyRole('1','2')"><a th:href="@{create}">생성</a></th:block>
        <div class="page_num"><a th:each="num:${#numbers.sequence(1,page.count)}" th:text="${num}" th:attr="onclick=|moveToPage(${num})|"></a></div>
        </div>
    </section>
</main>
</html>