<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{layout :: layout(~{::title}, ~{::main},~{::link}, ~{::script})}"
>
<head>
    <meta charset="UTF-8">
    <title>계정관리</title>
    <link rel="stylesheet" href="/css/management.css">
    <script sec:authorize="hasRole('1')" defer src="/js/managementAdmin.js" type="text/javascript" charset="utf-8"></script>
    <script sec:authorize="hasRole('2')" defer src="/js/managementCompany.js" type="text/javascript" charset="utf-8"></script>
</head>
<main>
    <section>
        <div>
        <span class="company_info"
                  sec:authorize="hasRole('2')"
                  th:with="auth=${#authentication.getPrincipal().getUser()}"
                  th:data-user-name="${auth.userName}"
        />


        <br>
        <th:block sec:authorize="hasRole('1')">
            <label><input type="radio" name="userSort" value="2" checked>고객사</label>
            <label><input type="radio" name="userSort" value="3">고객</label>
            <label><input type="radio" name="userSort" value="4">직원</label>
        </th:block>
        <table class="user_table">
            <thead>
                <tr></tr>
            </thead>
            <tbody></tbody>
        </table>
        <th:block sec:authorize="hasAnyRole('1','2')"><a th:href="@{create}">생성</a></th:block>
        </div>
    </section>
</main>
</html>