<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>계정관리</title>
    <script defer src="/js/management.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>

    <label><input type="radio" name="userSort" value="2" checked>고객사</label>
    <label><input type="radio" name="userSort" value="3">고객</label>
    <label><input type="radio" name="userSort" value="4">직원</label>
    <table>
        <thead>
            <tr>
                <th>이름</th>
                <th>id</th>
                <th>email</th>
                <th>userSortId</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.userName}"></td>
                <td th:text="${user.userId}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.userSortId}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>