.hide{display:none; }
main section { width: 1200px; min-height: 850px; background: #FFFFFF; border-radius: 10px; margin: 50px auto;}
main section div { width: 95%; margin: auto; padding: 10px;}

main section table {  border-collapse: collapse; width: 100%;}
main section table thead { height: 50px; text-align: left; border-bottom: 2px solid black;}
main section table thead tr th{ font-size: 18px; }
main section table input[type="text"]{ width: 65%; height: 35px; background: #D9D9D9; border: 1px solid #C4C4C4;}
main section table select {height: 35px; min-width: 92px; background: #D9D9D9; border: 1px solid #C4C4C4;}

.button_list{ display: flex; gap: 3px; justify-content: flex-end;}
.button_list a, .button_list input{ all: unset; }
.button_list a:hover, .button_list input:hover{ cursor: pointer;}
.button_list li{background: #D9D9D9; border: 1px solid #C4C4C4; padding: 2px 4px; border-radius: 4px; }
tbody th { width: 18%; text-align: right; padding-right: 28px;}
tbody tr{ height: 55px; border-bottom: 1px solid black; text-align: left;}
tbody td{ display: flex; gap: 10px; height: 55px; align-items: center;}

.more_info.mode_none { display: none;}

.more_info.mode_company .more_info_th:nth-child(2){ display: none; }
.more_info.mode_company .more_info_th:nth-child(3){ display: none; }
.more_info.mode_company .more_info_tr:nth-child(2){ display: none; }
.more_info.mode_company .more_info_tr:nth-child(3){ display: none; }
.more_info.mode_company .more_info_tr:nth-child(4){ display: none; }

.mode_customer .more_info_th:nth-child(1){ display: none; }
.mode_customer .more_info_th:nth-child(3){ display: none; }
.mode_customer .more_info_tr:nth-child(1){ display: none; }

.mode_employee .more_info_th:nth-child(1){ display: none; }
.mode_employee .more_info_th:nth-child(2){ display: none; }
.mode_employee .more_info_tr:nth-child(1){ display: none; }
.mode_employee .more_info_tr:nth-child(2){ display: none; }
