main section { width: 1200px; min-height: 850px; background: #FFFFFF; border-radius: 10px; margin: 50px auto;}
main section div { width: 95%; margin: auto; padding: 10px;}

main section table {  border-collapse: collapse; width: 100%;}
main section table thead { height: 50px; text-align: left; border-bottom: 2px solid black;}
main section table thead tr th{ font-size: 18px; }
table {margin-bottom: 20px;}
tbody th { width: 18%; text-align: right; padding-right: 28px;}
tbody tr{ height: 55px; border-bottom: 1px solid black; text-align: left;}
main section div{ position: relative;}
main section div > a{ all: unset; display: block; position: absolute; right:10px; background: #D9D9D9; border: 1px solid #C4C4C4; padding: 2px 4px; border-radius: 4px;}
main section div > a:hover{ cursor: pointer;}